[Desktop Entry]
Encoding=UTF-8
Name=Usm Core
Comment=Usm P2P Cryptocurrency
Exec=usm-qt %u
Terminal=false
Type=Application
Icon=ctp128
MimeType=x-scheme-handler/usm;
Categories=Office;Finance;
Name[en_US]=usm-qt.desktop
